
/*for singolo dom*/

li:not(.active-menu) a {
    color: white;
}

.header-menu_list li:hover a {
    cursor: pointer;
    color: #f06c64;
}

.header-menu_list li a {
    color: white;
    text-decoration: unset;
}

a.active-menu {
    color: #f06c64 !important;
}

.message-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;    
    background: #0007;
}

.hidden {
    display: none;
}

#message {
    border: 8px solid gainsboro;
    border-radius: 21px;
    padding: 20px 40px;
    max-width: 500px;
    background-color: #c15c54;
}

#text-subject {
    margin: 20px 0 10px 0;
}

#close-button {
    height: 30px;
    width: 70px;
    background: #ce3f3f;
    border-radius: 10px;
}

.active-img {
    outline: solid 5px #F06C64;
    outline-offset: -5px;
}
 
.not-static {
    padding-top: 0px;
    height: 55px;
    border: 1px solid #323746;
    transition: height 0.3s, padding-top 0.3s;
} 

#header-fake {
    height: 95px;
    background-color: #ef6c64;
}

/* .ninja {
    opacity: 0;
    transition: opacity 0.5s;
} */

/* .anchors {
    width: inherit;
} */

#slide-iphone {
    display: flex;
    align-items: center;
}

.slide{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    right: 0%;
    transition: right 1.5s;
    background-color: #ef6c64;
    height: 100%;
    border-bottom: 10px solid #00000061;
}

.second-slide {
    background-color: #648bf0 !important;
    justify-content: center !important;
}

.left-slide {
    position: absolute;
    right: 100%;
    height: 100%;
}

.rigth-slide {
    position: absolute;
    right: -100%;
    height: 100%;
}

.full-img {
    width: 50%;
}
